
<% if @tweet.errors.present? %>
  <div class="alert alert-danger" role="alert"><h3>エラーがあります</h3>
    <ul>
      <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= link_to '一覧', tweets_path, class: 'btn btn-info' %>

<%= form_with model: @tweet, local: true do |f| %>
  <p class="form_group"><%= f.label :message, 'メッセージ'%>
    <%= f.text_area :message, row: 5, class: 'form-control', id: 'tweet_message'%></p>
  <p><%= f.submit '登録', class: 'btn btn-primary' %></p>
<% end %>