<%= page_entries_info @tweets %>
<div class="mb-3">
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th><%= Tweet.human_attribute_name(:message) %></th>
        <th><%= Tweet.human_attribute_name(:created_at)%></th>
        <th></th>
      </tr>
    </thead>
        <thbody>
          <% @tweets.each do |tw| %>
          <tr>
            <td><%= link_to tw.message, tw %></td>
            <td><time datetime="<%= tw.created_at %>">
              <%= time_ago_in_words(tw.created_at) %>
            </time>
            </td>
            <td>
            <%= link_to '編集', edit_tweet_url(tw), class: 'btn btn-primary mr-3'%>
            <%= link_to '削除', tw, method: :delete, data: { confirm: "タスク「#{tw.message}」を削除してもよろしいですか？"}, class: 'btn btn-danger'%><% end %></td>
          </tr>
        </thbody>
  </table>
</div>
<%= paginate @tweets %>
