@import "bootstrap";


.app-title{
  margin-top: 3%;
  background-color: #00acee;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.pic1{
  padding-left: 5%;
  padding-right: 5%;
}

.container{
  width: 90%;
  display: flex;
  margin-top: 3%;
  width: 100%;
  background-color: #e3f1fc;
}

.sidebar{
  width: 40%;
}

.main{
  width: 60%;
  text-align: right;
  right: 10%;
}

